header {
    position: relative;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: #CCCCFF;
    padding: 2%;
    text-align: center;
}
#timKiem {
    position: absolute;
    left: 750px;
    top: 50px;
    background-color: #CCCCFF;
    border: none;
}
body {
    background-color: #FFFFFF

    ;
}
.anh{
    float: left;
    margin-right: 30px; 
}
img {
    width: 250px;
    height: 250px;
}
.tin1::after {
    content: "";
    clear: both;
    display: table;
}
#mau {
    position: absolute;
    width: 700px;
    height: 50px;
    background-color: #CCCCFF;
    margin-left: 25%;
    margin-top: 200px;
    padding-top: 20px;
    padding-left: 30px;   
}
#nuttatmau{
    position: absolute;
    left: 700px;
    border: none;
    background-color: #CCCCFF;
}
